:less
    @radius: 10px;
    .code-snippet
    {
        margin-bottom: 1em;
    }


.code-snippet
    pre
        code {{code}}
    button.btn(ng-click="exec()")
        i.icon-play
        span &nbsp;Play
